/* NPM */
/* node package manager */
/* command line */
/* Bash */
/* node.js */
/* GULP - система сборки приложений */
/* GRANT WEBPACK */
/* cli - command line interface */


.basket {
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.basket__pic {
    background: url(/images/icon/bascet.png) center center / contain no-repeat;
    width: 30px;
    height: 30px;
}