.user-info {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.user-info__pic {
    background: url(/images/icon/account.png) center center / contain no-repeat;
    width: 30px;
    height: 30px;
}

.text_active {
    color: orange;
}